<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

    <!-- 회원가입 -->
    <insert id="join" parameterType="member">
        insert into member (memberEmail, memberPassword, memberName, memberAge, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>

    <!-- 로그인 -->
    <select id="login" parameterType="member" resultType="member">
        select * from member where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>

    <!-- 회원목록 -->
    <select id="findAll" resultType="member">
        select * from member
    </select>

    <!-- 회원정보 조회 -->
    <select id="findById" parameterType="Long" resultType="member">
        select * from member where id = #{id}
    </select>

</mapper>
